<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--<mvc:annotation-driven>-->
    <!--<mvc:message-converters register-defaults="true">-->
    <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
    <!--<property name="objectMapper">-->
    <!--<bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
    <!--<property name="serializationInclusion">-->
    <!--<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>-->
    <!--</property>-->
    <!--</bean>-->
    <!--</property>-->
    <!--</bean>-->
    <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

    <!--<mvc:interceptors>-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/**"/>-->
    <!--<mvc:exclude-mapping path="/js/**"/>-->
    <!--<mvc:exclude-mapping path="/**/error"/>-->
    <!--<mvc:exclude-mapping path="/css/**"/>-->
    <!--<mvc:exclude-mapping path="/img/**"/>-->
    <!--<bean class="com.bnq.s2b.admin.interceptor.WebRequestInterceptor"/>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <bean id="springContext" class="com.ly.springBoot.common.SpringContext"/>
    <import resource="spring-import.xml"/>

    <bean id="test" class="com.ly.springBoot.action.designPattern.creational.工厂模式.Test">
        <property name="readerTypeMap">
            <util:map map-class="java.util.HashMap">
                <entry key="jpg" value="com.ly.springBoot.action.designPattern.creational.工厂模式.JPGReaderFactory"/>
                <entry key="gif" value="com.ly.springBoot.action.designPattern.creational.工厂模式.GIFReaderFactory"/>
            </util:map>
        </property>
    </bean>

</beans>